.bgImage {
  background-image: url('../public/pattern-randomized-2.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #ffffff9e;
}

.loginBg {
  background-image: url('../public/loginBg2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #ffffff9e;
}